---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import ImageCards from "../components/ImageCards.astro";
import Biography from "./biography.md";
import Education from "../components/Education.astro";
import Achievements from "../components/Achievements.astro";
import WorkExperience from "../components/WorkExperience.astro";
import OtherExperience from "../components/OtherExperience.astro";
---

<BaseLayout title="Omar Kawach" description="Software Engineering Portfolio">
  <Hero
    heading="Hello, my name is Omar Kawach"
    subheading="My diverse experience will bring a unique perspective to your workplace. Resume available upon request."
  />
  <ImageCards />
  <section aria-label="Biography">
    <Biography />
  </section>
  <WorkExperience />
  <Education />
  <Achievements />
  <OtherExperience />
</BaseLayout>
